version: "3.6"

#
# docker-compose.yml 文件是为了方便本地测试构建镜像
#
# 避免使用 docker build -t ... 命令
#
#
# $ docker-compose build
#

services:
  #
  # docker-compose build test
  #
  test:
    build:
      context: .
      dockerfile: test.Dockerfile
      args:
        - PHP_VERSION_7_2_X=7.2.0
        - PHP_VERSION_7_1_X=7.1.0
        - PHP_VERSION_7_0_X=7.0.0
        - PHP_VERSION_5_6_X=5.6.0
    image: khs1994/EXAMPLE

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NGINX_VERSION=${NGINX_VERSION:-1.13.9}
      target: nginx
    image: khs1994/nginx:swarm-${NGINX_VERSION:-1.13.9}-alpine
    depends_on:
      - 7_2_X
      # - 7_1_X
      # - 7_0_X
      # - 5_6_X

  #
  # 项目使用哪个 PHP 版本就保留哪个服务，其他注释
  #
  7_2_X:
    build:
      context: .
      dockerfile: Dockerfile
      target: php
      args:
        - PHP_VERSION=${PHP_VERSION_7_2_X:-7.2.0}-alpine3.7
    image: khs1994/php-fpm:swarm-${PHP_VERSION_7_2_X:-7.2.0}-alpine3.7

#  7_1_X:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      target: nginx
#      args:
#        - PHP_VERSION=${PHP_VERSION_7_1_X:-7.1.0}-alpine3.4
#    image: khs1994/php-fpm:swarm-${PHP_VERSION_7_1_X:-7.1.0}-alpine3.4
#
#  7_0_X:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      target: nginx
#      args:
#        - PHP_VERSION=${PHP_VERSION_7_0_X:-7.0.0}-alpine3.4
#    image: khs1994/php-fpm:swarm-${PHP_VERSION_7_0_X:-7.0.0}-alpine3.4
#
#  5_6_X:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      target: nginx
#      args:
#        - PHP_VERSION=${PHP_VERSION_5_6_X:5.6.0}-alpine3.4
#    image: khs1994/php-fpm:swarm-${PHP_VERSION_5_6_X:5.6.0}-alpine3.4
