<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/{{ EXAMPLE_FOLDER_NAME_EXAMPLE }}</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>DON'TTEST</group>
        </exclude>
    </groups>
</phpunit>
